@import '../sass/utils/variables';
@import '../sass/layouts/header';
@import '../sass/layouts/footer';
@import '../sass/pages/restaurants';
@import '../sass/base/fonts';
@import '../sass/components/buttons';
@import '../sass/pages/home';

// General
body {
    margin: 0;
    max-width: 1440px;
    background: $bg-color;
}