@use './base/fonts';
@use './layouts/header';
@use './layouts/footer';
@use './pages/home';
@use './pages/restaurants';
@use './components/buttons';
@use './components/favorite';
@import './utils/variables';

// General
body {
    margin: 0;
    background: $bg-color;
    display: flex;
    justify-content: center;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $gradient-color;
    animation: loading 2.5s 2.25s both;
    @keyframes loading {
        0% {
            opacity: 100%;
        }
        99% {
            opacity: 0%;
        }
        100% {
            opacity: 0%;
            display: none;
        }
    }
    img {
        height: 120%;
    }
    i {
        font-size: 40px;
        margin: 40px 10px;
    }
    .bowl1 {
        color: $tertiary-color;
        background-clip: text;
        animation: loading-bowl .75s 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        @keyframes loading-bowl {
            0% {
                transform: translateX(-1000px);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
    .bowl2 {
        color: $secondary-color;
        background-clip: text;
        animation: loading-bowl 1.5s 0s  cubic-bezier(0.68, -0.55, 0.27, 1.55);
        @keyframes loading-bowl {
            0% {
                transform: translateX(-1000px);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
    .bowl3 {
        color: $primary-color;
        background-clip: text;
        animation: loading-bowl 2.25s 0s  cubic-bezier(0.68, -0.55, 0.27, 1.55);
        @keyframes loading-bowl {
            0% {
                transform: translateX(-1000px);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

/****** Media queries ******/
/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: 768px) {
    .restaurants {
        padding: 0 50px;
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 28px;
        }
        article {
            width: 45%;
        }
    }

    .fonctionnement {
        padding: 50px;
    }

    .menuCard {
        margin: 0 193px;
        padding: 0 20px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }
}

/* Desktop devices (up to 1024px) */
@media (min-width: 1024px) {
    .accueil h2 {
        font-size: 40px;
    }

    .fonctionnement {
        padding: 50px 180px;
        .card {
            width: 30%;
        }
        .notice {
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants {
        padding: 0 180px;
    }

    .menuCard {
        margin: -40px 193px 0 193px;
        padding: 0 100px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }
}