@import '../utils/variables';

/* Buttons design */
.purpleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    font-weight: 500;
    background: $gradient-color;
    padding: 0;
    border: none;
    border-radius: 25px;
    box-shadow: $box-shadow;
    color: white;
    transition: all .3s ease;
    &:hover {
        opacity: 70%;
        box-shadow: $btn-shadow;
    }
    &:active {
        transform: scale(0.90);
    }
}