// Favorite function with transition for like and unlike
.fav {
    display: flex;
    align-items: center;
    .liked {
        position: absolute;
        z-index: inherit;
        opacity: 0%;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        &:hover {
            opacity: 100%;
        }
    }
}