// Favorite function with transition for like and unlike
.fav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 25px;
    .liked {
        position: absolute;
        z-index: 1;
        opacity: 0%;
        transform: scale(0.5);
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        &:hover {
            transform: scale(1);
            opacity: 100%;
        }
        &:active {
            transform: scale(1.5);
            opacity: 100%;
        }
    }
}