/* Fonts style */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.titleMenu {
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

.titleCard, .price {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

.subtitle{
    font-size: 17px;
    font-weight: 300;
}

.titleFooter {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
    margin-top: 0;
}

.footerLinks {
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding-bottom: 5px;
    }
}

.widthFooter1 {
    width: 380px;
}

.widthFooter2 {
    width: 260px;
}

a {
    text-decoration: none;
    color: inherit;
}

.etiquette {
    font-size: 14px;
    font-weight: 500;
}