header {
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
  height: 30px;
}

footer {
  background: #353535;
  color: white;
  padding: 20px 20px 20px 20px;
}
footer i {
  width: 12px;
  padding-right: 15px;
}
footer .footerLinks {
  font-weight: 500;
}

#backHome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 17px;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

#menuImage {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.entete {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 2px;
}

.menuCard {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;
  background: #F6F6F6;
  border-radius: 25px 25px 0 0;
  padding: 0 15px;
}
.menuCard .categorie {
  margin-bottom: 40px;
}
.menuCard .categorie h2 {
  font-weight: 300;
  margin-bottom: 9px;
}
.menuCard .card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.menuCard .card .detailsPlat {
  display: flex;
  justify-content: space-between;
}
.menuCard .card h3, .menuCard .card p {
  margin: 0;
}

.commander {
  display: flex;
  justify-content: center;
  background: #F6F6F6;
}

.line {
  padding: 0 20px;
  border-top: solid 3px #99E2D0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
* .title {
  font-size: 24px;
  font-weight: 700;
}
* .titleMenu {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
}
* .titleCard {
  font-size: 18px;
  font-weight: 700;
}
* .subtitle {
  font-size: 17px;
  font-weight: 300;
}
* .titleFooter {
  font-size: 18px;
  font-family: "Shrikhand", cursive;
  margin: 0;
}
* a {
  text-decoration: none;
  color: inherit;
}

.purpleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 0;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  color: white;
}
.purpleButton:hover {
  opacity: 70%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4509803922);
}

body {
  margin: 0;
  max-width: 1440px;
  background: #F6F6F6;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  height: 50px;
}
.location .searchBar {
  display: block;
  text-align: center;
  width: 109px;
  font-weight: 500;
  border: none;
  background: #EAEAEA;
}

.accueil {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
  background-color: #F6F6F6;
}
.accueil h1 {
  margin: 0;
}
.accueil p {
  font-size: 18px;
  font-weight: 300;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px 20px;
  margin: 30px 0 50px 0;
  background: white;
}
.fonctionnement .notice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.fonctionnement .card {
  display: flex;
  gap: 20px;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 10px 0 10px 0;
}
.fonctionnement .card .number {
  background: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: -12px;
}
.fonctionnement .card .consigne {
  font-weight: 500;
}

.restaurants {
  padding: 0 18px;
  margin-bottom: 50px;
  background: #F6F6F6;
}
.restaurants .card {
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 250px;
}
.restaurants .card .photo {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .card .etiquette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  position: absolute;
  right: 33px;
  background: #99E2D0;
  color: #008766;
  border-radius: 2px;
  margin-top: 13px;
}
.restaurants .card .content {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
}
.restaurants .card .content h2, .restaurants .card .content p {
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
