@import '../utils/variables';

/*** Responsive Design Configuration ***/
/** General **/
body {
    margin: 0;
    background: $bg-color;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
}
/** Media queries **/
/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: $medium) {
    .restaurants {
        padding: 0 50px;
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 28px;
        }
        article {
            width: 45%;
        }
    }

    .fonctionnement {
        padding: 50px;
    }

    .menuCard {
        margin: -40px 120px 0 120px;
        padding: 0 20px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        padding: 30px 25px;
    }

    .titleFooter {
        margin-bottom: 0;
    }

    .footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }

    .widthFooter1 {
        order: 2;
    }
    
    .widthFooter2 {
        order: 1;
    }
}

/* Desktop devices (up to 1024px) */
@media (min-width: $large) {
    .accueil h2 {
        font-size: 40px;
    }

    .fonctionnement {
        padding: 50px 180px;
        .step {
            width: 30%;
        }
        .notice {
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants {
        padding: 0 180px;
    }

    .menuCard {
        margin: -40px 193px 0 193px;
        padding: 0 100px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }
}