//Responsive Design Configuration
/****** Media queries ******/
/* Medium devices (tablets, 768px to 1024px) */
@media (min-width: 768px) {
    .restaurants {
        padding: 0 50px;
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 28px;
        }
        article {
            width: 45%;
        }
    }

    .fonctionnement {
        padding: 50px;
    }

    .menuCard {
        margin: 0 193px;
        padding: 0 20px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .footerLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }
}

/* Desktop devices (up to 1024px) */
@media (min-width: 1024px) {
    .accueil h2 {
        font-size: 40px;
    }

    .fonctionnement {
        padding: 50px 180px;
        .card {
            width: 30%;
        }
        .notice {
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants {
        padding: 0 180px;
    }

    .menuCard {
        margin: -40px 193px 0 193px;
        padding: 0 100px;
    }

    .entete {
        display: flex;
        justify-content: center;
    }
}