/* Variables colors */
$bg-color: #F6F6F6;
$bg-location: #EAEAEA;
$bg-color-footer: #353535;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$box-shadow: 0px 4px 15px 0px #00000026;