/* Footer config */
@import '../utils/variables';

footer {
    background: $bg-color-footer;
    color: white;
    padding: 20px 20px 20px 20px;
    i {
        width: 12px;
        padding-right: 15px;
    }
    .footerLinks {
        font-weight: 500;
    }
}