/* Header ban */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    position: relative;
    background-color: white;
}

/* Back home arrow */
#backHome {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    &:active {
        transform: scale(0.90);
    }
}