/* Header ban */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}

/* Back home arrow */
#backHome {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}