@import '../utils/variables';

// Loader configuration
.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $gradient-color;
    animation: loading 2.5s 2.25s forwards;
    img {
        height: 120%;
    }
    i {
        font-size: 40px;
        margin: 40px 10px;
        background-clip: text;
    }
}

.bowl1 {
    color: $tertiary-color;
    animation: slideLtoR .75s 0s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.bowl2 {
    color: $secondary-color;
    animation: slideLtoR 1.5s 0s  cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.bowl3 {
    color: $primary-color;
    animation: slideLtoR 2.25s 0s  cubic-bezier(0.68, -0.55, 0.27, 1.55);
}